.headerContainer{
    display: flex;
    padding-top: 90px;
    background-color: #d4de95ee;
    padding-bottom: 60px;
    
}

.userName{
    width: 760px;
    font-size: 20px;
    font-weight:600;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 100px;
    padding-top: 60px;
   
}

.contentContainer>h3{
    font-size: 25px;

}

.contentContainer>span{
    padding-top: 20px;
    
}

.getStarted{
    font-size: 25px;
    border: none;
    padding: 5px;
    margin-top: 65px;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.15s ease-in;
    font-weight: bold;
    background-color: #55a129;
}



.getStarted:hover{
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
}

.imageContainer{
    display: flex;
}

.imageContainer>img{
    user-select: none;
    object-fit: cover;
    
}