.LoginCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #d4de95ee; /* same pale yellow bg */
}

.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 500px;
    background-color: rgb(29, 53, 21); /* same deep green tone */
    border-radius: 20px;
    height: 500px;
}

.submit{
    padding: 5px;
    font-size: 18px;
    height: 30px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.white {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-top: 50px;
}

.white > img {
    width: 30px;
}

h4 {
    color: white;
    margin: 0;
}

.email,.name, .password {
    height: 30px;
    width: 400px;
    font-size: 18px;
    font-family: 'poppins';
    background-color: #d4de95ee;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.forget {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.forget:hover {
    text-decoration: underline;
    color: rgb(15, 118, 44);
}

.loginBtn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    transition: 0.1s ease-in-out;
}

.loginBtn:hover {
    cursor: pointer;
    border: 2px solid black;
}

.createAcc {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.createAcc > span {
    color: rgb(171, 171, 227);
    cursor: pointer;
}

.createAcc > span:hover {
    text-decoration: underline;
    color: rgb(134, 134, 251);
}
