.SignUpCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #d4de95ee;
}
.white{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-top: 50px;
}

.loginAcc{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
   
}
.loginAcc>span{
    color:rgb(171, 171, 227) ;
}


.loginAcc>span:hover{
    
    cursor: pointer;
    text-decoration: underline;
    color: rgb(134, 134, 251);
}
.white>img{
    width: 30px;
}

.signUpContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 500px;
    background-color: rgb(29, 53, 21);
    border-radius: 20px;
    height:600px;
    
}




h4{
    color: white;
}

.forget{
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    
}

.forget:hover{
    text-decoration: underline;
    color: rgb(15, 118, 44);
}

.register{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    transition: 0.1s ease-in-out;
}

.register:hover{
    cursor: pointer;
    border: 2px solid black;

}